body {
    margin: 0;
    padding: 0;
    background-color: rgb(40,40,40);
    font-family: "Ubuntu",sans-serif;
}

#wrapper {
    margin: auto;
    width: 80%;
}

.search {
    padding-top: 20px;
    padding-bottom: 10px
}

.input-box {
    background-color: rgb(60,60,60);
    border: 0 none;
}

ul {
    text-transform: uppercase;
}

li a {
    border: 1px solid rgb(30,30,30);
}

.navbar {
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgb(13,13,13);
}

.navbar-collapse {
    margin: 0;
    padding: 0;
}

#pictureMain {
    background: url("../assets/images/picture1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 0;
}

.titleDisco {
    text-transform: uppercase;
    color: rgb(116,117,117);

}

.titleDisco::first-line {
    color: white;
    font-weight: normal;

}

