.btnDr {
	background-color: blue;
	color: white;
}

.btnSt {
	background-color: red;
	color: black;
}

#mainbody {
	background-color: aquamarine;
	margin: auto;
}

.centrat {
	margin: auto;
	width: 100%;
	align-content: center;
}

.scrisDupa {
	display: inline;
}

.numeric {
	width: 50px;
	text-align: right;
}

#nrcuzecimale,
#nrdezecimale {
	width: 100px;
}

#btnStDr {
	margin: auto;
}

.left {
	float: left;
	width: 300px;
	height: 300px;
	padding: 10;
}

.liber {
	clear: both
}
