* {
    box-sizing: border-box;
}

header {
    border: 1px solid black;
    background-color: #9933cc;
    color: #ffffff;
    padding: 25px;
}

.row {
    border: 1px solid black;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col-12 {
    width: 100%;
    border: 1px solid black;
}

.col-11 {
    width: 91.66%;
    border: 1px solid black;
}

.col-10 {
    width: 83.33%;
    border: 1px solid black;
}

.col-9 {
    width: 75%;
    border: 1px solid black;
}

.col-8 {
    width: 66.66%;
    border: 1px solid black;
}

.col-7 {
    width: 58.33%;
    border: 1px solid black;
}

.col-6 {
    width: 50%;
    border: 1px solid black;
}

.col-5 {
    width: 41.66%;
    border: 1px solid black;
}

.col-4 {
    width: 33.33%;
    border: 1px solid black;
}

.col-3 {
    width: 25%;
    border: 1px solid black;
}

.col-2 {
    width: 16.66%;
    border: 1px solid black;
}

.col-1 {
    width: 8.33%;
    border: 1px solid black;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

html {
    font-family: sans-serif;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 18px;
    border: 1px dotted #cccccc;
    max-width: 150px;
}

li.menu {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

li.menu:hover {
    background-color: black;
    color: lightgray;
}
