img {
    width: 480px;
    height: 360px;
}

div,
span {
    border: 1px solid black;
    margin: 3px;
}

#c1 {
    color: red;
}

a {
    color: green;
    font-size: 22px;
}

.test {
    color: purple;
    border: 1px solid red;
}
