img {
    width: 480px;
    height: 360px;
}

div {
    border: 1px solid black;
    margin: 3px;
    color: rgb(255, 120, 0);
    background-color: #ff7Bff;
}

.first-p {
    border: 5px solid #5599dd;
    color: whitesmoke;
    background-color: #554455;
}

div + p {
    color: green;
}

a {
    font-size: 25px;
}

a:hover {
    color: aqua;
    background-color: aquamarine;
}

a:visited {
    color: pink;
}

a.highlight:hover {
    color: blue;
}

p::first-line {
    color: blue;
    font-weight: 900;
}

p::first-letter {
    color: darkviolet;
    font-size: 55px;
}

a:active {
    font-size: 15px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

.vealig {
    vertical-align: sub;
}

.shadow {
    color: white;
    text-shadow: -3px 3px 10px #ff0000;
}

ul {
    list-style-image: url(list-style-kill2.png);
}

ul {
    list-style-position: inside;
}
